*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #282b32;
    letter-spacing: 4px;
    font-family: 'Bangers';
}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
.grid{
    display: flex;
    background-color: #3c3e44;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
.grid:hover {
    box-shadow: 0 8px 18px rgb(239, 53, 102);
    text-shadow: 1px 1px 0 #ff00ff, -2px -2px 0 #ff0000;
}
.grid img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 40px;
    color: white;
    height: 100%;
}
.info h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.info h3{
    margin-bottom: 25px;
    font-size: 20px;
}
.info p{
    font-size: 20px;
}
.gender{
    margin-bottom: 20px;
}
.head-name{
    padding: 40px 20px;
    text-align: center;
    color: black;
}
.header {
    background-image: url('img/rikimorti.jpg');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    display: flex;
    filter: brightness(0.8);
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 90px;
    height: 400px;
}
.header-link{
    text-decoration: none;
    color: inherit;
}
.header-link:hover{
    cursor: pointer;
    text-shadow: 5px 5px 0 #00fff7, -2px -2px 0 #22ff00;
}
.footer {
    margin-top: 30px;
    background-color: #202329;
    text-align: center;
    padding: 20px;
    color: #9e9e9e;
}
.footer a {
    color: #00ff99;
    text-decoration: none;
}
.filters {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.filters select {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: rgba(238, 237, 237, 0.94);
    color: black;
}

